---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
eleventyComputed:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<section class="tag-page">
  <h1 class="tag-title">Posts Tagged “{{ tag }}”</h1>

  {% set postslist = collections[tag] %}
  {% include "components/postslist.njk" %}

  <nav class="tag-nav">
    <a href="{{ '/blog/' | url }}" class="back-link">← Back to Blog Index</a>
  </nav>
</section>
