<footer>
  <small>
    © {{ new Date().getFullYear() }} <a href="https://www.mcr.ae">MCR.AE</a>. All rights reserved.
    Built with <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a>.
    View the <a href="{{ pkg.repository.url }}" target="_blank" rel="noopener">GitHub repository</a>.
  </small>
</footer>
