<form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <input type="hidden" name="form-name" value="contact">
  <p class="hidden">
    <label for="bot-field">Don’t fill this out if you're human: <input name="bot-field" id="bot-field"></label>
  </p>
  <label for="name">Name</label>
  <input 
    type="text" 
    name="name" 
    id="name" 
    autocomplete="name" 
    placeholder="Your name" 
    title="Please enter your name" 
    required 
    aria-required="true">
  <label for="email">Email</label>
  <input 
    type="email" 
    name="email" 
    id="email" 
    autocomplete="email" 
    placeholder="Your email address" 
    title="Please enter a valid email address" 
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
    required 
    aria-required="true">
  <label for="message">Message</label>
  <textarea 
    name="message" 
    id="message" 
    placeholder="Write your message here" 
    rows="7" 
    required 
    aria-required="true"></textarea>
  <button type="submit">Send Message</button>
</form>
