<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0C1C1F">
    <title>{{ title }}</title>
    <meta name="description" content="{{ metaDescription }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ metaDescription }}">
    <meta property="og:url" content="https://blog.mcr.ae">
    <meta property="og:image" content="/assets/images/social-share.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/inline.css">
</head>
