<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-list">
    {%- for entry in navPages %}
      <li class="nav-item">
        <a href="{{ entry.url | url }}" 
           class="nav-link{% if entry.url == page.url %} active{% endif %}" 
           aria-current="{% if entry.url == page.url %}page{% endif %}">
          {{ entry.title }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>
