<!doctype html>
<html lang="en">

    {% include "components/head.njk" %}

    <body>

        <header>
            <em class="site-logo">
                <a href="{{ '/' | url }}">Blog.MCR.AE</a>
            </em>
        </header>

        <main>
            {{ layoutContent | safe }}
        </main>

        <footer>
            <small>© {{ new Date().getFullYear() }} MCR.AE. All rights reserved.</small>
        </footer>

    </body>

</html>
